<div class = "divHeader">
			<div class = "divTitle"> <span class = "spanQ">Q</span><span class ="spanAnd">and</span><span class = "spanA">A</span></div>
			<div class = "divProfileMenu">
				<ul>
          			<li><div class = "divBackMenu"></div><a href = "#"> Home </a></li>
         			<li><div class = "divBackMenu"></div><a href = "#"> Topics </a></li>
         			<li><div class = "divBackMenu"></div><a href = "#"> Profile </a></li>
          			<li><div class = "divBackMenu"></div><a href = "/logout"> Log Out </a></li>
          			<li><div class = "divProfilePic"><i class = "fa fa-user"></i></div></li>
          		</ul>
			</div>
		</div>