<!DOCTYPE HTML>
<html>
	<head>
		<title> QandA - Home </title>
		<link href = "/stylesheets/home.css" rel = "stylesheet" type = "text/css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/font-awesome.min.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/responsiveHome.css">
		<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
		<meta charset = "utf-8">
	</head>
	<body>
		<% include ./Partials/header.ejs %>
		<div id = "divBody">
			<form action = "#" method = "POST">
				<textarea name = "data2post" placeholder = "Ask or Say something.."></textarea><br>
				<input type = "submit" value = "Post">
				<input type = "reset" value = "Clear">
		</div>
	</body>
</html>