<!DOCTYPE HTML>
<html>
	<head>
		<title> QandA - Home :) </title>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/responsiveIndex.css">
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/font-awesome.min.css">
	</head>

	<body>
			<div class = "divSignIn">
			<form action = "#" method = "POST">
				<label for = "usernameSignIn"><i class = "fa fa-user"></i></label><input type = "text" placeholder = "Username" name = "usernameSignIn">
				<br>
				<label for = "passwordSignIn"><i class = "fa fa-user-secret"></i></label><input type = "password" placeholder = "Password" name = "passwordSignIn">
				<br>
				<input type = "submit" value = "Log In">
			</form>
		</div>

		<div id = "divFormChange">
			Don't  have  an  account <span id = "spanTextForm"> Create an account </span>
		</div>

		<div class = "divSignUp">
			<form action = "#" method = "POST">
				<label for = "usernameSignIn"><i class = "fa fa-at"></i></label><input type = "text" placeholder = "E-mail">
				<br>
				<label for = "usernameSignIn"><i class = "fa fa-plus"></i></label><input type = "text" placeholder = "Username">
				<br>
				<label for = "usernameSignIn"><i class = "fa fa-shield"></i></label><input type = "password" placeholder = "Password">
				<br>
				<input type = "submit" value = "Create an account">
			</form>
		</div>

		<script src = "/javascripts/formChange.js">	</script>
	</body>
</html>