@font-face {
	font-family: champagne;
	src: url("/fonts/Champagne & Limousines Bold.ttf");
}

@font-face {
	font-family: geoSans;
	src: url("/fonts/GeosansLight.ttf");	
}

@font-face {
	font-family: raleway;
	src: url("/fonts/raleway.woff2");
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.divHeader {
	position: fixed;
	width: 100%;
	background-color: rgba(134, 45, 45, 1);
}

.divTitle {
	font-family: champagne;
	color: white;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 20;
	padding: 5px 20px;
	display: inline-block;
}

.divTitle .spanQ {
	font-size: 3em;
}

.divTitle .spanA {
	font-size: 3em;
}

.divProfileMenu {
	position: fixed;
	top: 0px;
	width: 90%;
	left: 5%;
	padding: 20px 5px;
	color: white;
	text-align: right;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.divProfileMenu a {
	color: white;
	text-decoration: none;
	font-family: champagne;
}

.divProfileMenu ul {
  list-style-type: none;
}

.divProfileMenu ul li {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

.divProfileMenu li a {
  padding: 5px 10px;
  display: block;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.divBackMenu {
  height: 2px;
  background-color: white;
  width: 0px;
  position: absolute;
  bottom: 0px;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  transition: width 0.5s;
}

.divProfileMenu ul li:hover .divBackMenu {
  width: 100%;
}

.divProfilePic {
	margin-left: 5%;
	padding: 5px 10px;
	border: 1px solid white;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3;
	transition: all 0.3s;
}

.divProfilePic:hover {
	background-color: white;
	color:  rgba(134, 45, 45, 1);
}

#divBody {
	width: 70%;
	padding: 0px 20px;
	padding-top: 10%;
	top: 10%;
	margin-left: 15%;
	text-align: center;
}

.divQues {
	width: 80%;
	text-align: left;
	margin-left: 10%;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-top: 1px solid rgba(134, 45, 45, 0.2);
	border-bottom: 1px solid rgba(134, 45, 45, 0.2);
}

.divQues:hover {
	background-color: #f2f2f2;
}

.postStatement {
	font-family: raleway;
	font-size: 1.3em;
	color: rgba(134, 45, 45, 1);
	font-weight: bold;
}

.authorDetails {
	font-family: geoSans;
	font-size: 0.7em;
	margin-top: 3px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.7);
}

.divAnswers {
	margin: 10px 0px;
	font-family: geoSans;
	width: 90%;
	margin-left: 5%;
}

.noAnswer {
	margin-bottom: 5px;
	display: inline-block;
}

.noOfLikes {
	font-family: champagne;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid rgba(134, 45, 45, 1);
	margin-top: 5px;
	cursor: pointer;
	color: rgba(134, 45, 45, 1);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}

.noOfLiked {
	font-family: champagne;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid rgba(134, 45, 45, 1);
	margin-top: 5px;
	cursor: pointer;
	color: white;
	background-color: rgba(134, 45, 45, 1);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}

.noOfLikesNotAllow {
	font-family: champagne;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid rgba(134, 45, 45, 0.2);
	margin-top: 5px;
	cursor: pointer;
	color: rgba(134, 45, 45, 0.2);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}

.noOfLikes i {
	margin-right: 5px;
}

.noOfLikesNotAllow i {
	margin-right: 5px;
}

.noOfLiked i {
	margin-right: 5px;
}

.noOfLikes:hover {
	background-color: rgba(134, 45, 45, 1);
	color: white;
}

.noOfLikesNotAllow:hover {
	background-color: transparent;
	color: rgba(134, 45, 45, 0.2);
}

.noOfUnLikes {
	font-family: champagne;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid rgba(134, 45, 45, 1);
	margin-top: 5px;
	cursor: pointer;
	color: rgba(134, 45, 45, 1);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}

.noOfUnLikesNotAllow {
	font-family: champagne;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid rgba(134, 45, 45, 0.2);
	margin-top: 5px;
	cursor: pointer;
	color: rgba(134, 45, 45, 0.2);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}

.noOfUnLikes i {
	margin-right: 5px;
}

.noOfUnLikesNotAllow i {
	margin-right: 5px;
}

.noOfUnLikes:hover {
	background-color: rgba(134, 45, 45, 1);
	color: white;
}

.noOfUnLikesNotAllow:hover {
	background-color: transparent;
	color: rgba(134, 45, 45, 0.2);
}

.noOfUnLiked {
	font-family: champagne;
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid rgba(134, 45, 45, 1);
	margin-top: 5px;
	cursor: pointer;
	color: white;
	background-color: rgba(134, 45, 45, 1);
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}
.noOfUnLiked i {
	margin-right: 5px;
}

.otherDetails {
	font-size: 0.8em;
}

.divPostForm {
	width: 80%;
	margin-left: 10%;
	background-color: #f2f2f2;
	padding: 20px 5px;
	margin-bottom: 10px;
}

form {
	display: inline-block;
	width: 80%;
}

textarea {
	width: 90%;
	height: 60px;
	padding: 5px;
	resize: none;
	font-size: 0.8em;
	font-family: geoSans;
	font-weight: bold;
	border-radius: 0px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

textarea:focus {
	outline: none;
	border: 1px solid rgba(134, 45, 45, 1);
}

input[type = "submit"]{
	color: white;
	border: none;
	background-color: rgba(134, 45, 45, 1);
	width: 15%;
	height: 30px;
	font-family: geoSans;
	font-size: bold;
	margin: 5px 10px;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}

input[type = "submit"]:hover{
	box-shadow: 0px 0px 2px 1px rgba(134, 45, 45, 1) inset;
	background-color: rgba(134, 45, 45, 0.8);
}

input[type = "submit"]:focus{
	background-color: rgba(134, 45, 45, 0.8);
	box-shadow: 0px 0px 2px 1px rgba(134, 45, 45, 1) inset;
	box-shadow: none;
	outline: none;
}

input[type = "reset"]{
	color: white;
	border: none;
	background-color: rgba(134, 45, 45, 1);
	width: 15%;
	height: 30px;
	font-family: geoSans;
	font-size: bold;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}

input[type = "reset"]:hover{
	background-color: rgba(134, 45, 45, 0.8);
	box-shadow: 0px 0px 1px 1px rgba(134, 45, 45, 1) inset;
}

input[type = "reset"]:focus{
	background-color: rgba(134, 45, 45, 0.8);
	box-shadow: 0px 0px 1px 1px rgba(134, 45, 45, 1) inset;
	box-shadow: none;
	outline: none;
}

.writeComment {
	text-align: center;
	margin-top: 3%;
	display: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.answers {
	margin: 2% 0% 4% 0%;
	font-family: 0.7em;
}

.answers .divAnswerAuthor {
	font-family: champagne;
	font-size: 1.2em;
	display: inline-block;
	color: rgba(135, 45, 45, 1);
	margin-bottom: 5px;
	font-weight: 500;
}

.answers .divAnswerAuthor i{
	padding: 2px 5px;
	display: inline-block;
	border: 1px solid rgba(135, 45, 45, 1);
	margin-right: 10px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
}

.answers .divAnswerAuthor:hover {
	text-decoration: underline;
}

.answers .divAnswerAuthor:hover i {
	color: white;
	background-color: rgba(135, 45, 45, 1);
}

.answers .divAnswerContent {
	font-family: raleway;
	font-size: 0.8em;
	margin-left: 6%;
}